* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: #3f4e4f;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.estrutura {
  display: grid;
  grid-template-columns: 1fr 250px minmax(650px, 950px) 300px 1fr;
  grid-template-areas: "header header header header header" ". sidebar content anuncios ." "footer footer footer footer footer";
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-columns: 250px 1fr 300px;
    grid-template-areas: "header header header" "sidebar content content" "sidebar anuncios anuncios" "footer footer footer";
  }
}

@media (max-width: 800px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas: "header" "sidebar" "content" "anuncios" "footer";
  }
}

.estrutura .header {
  grid-area: header;
}

.estrutura .sidebar {
  grid-area: sidebar;
}

.estrutura .content {
  grid-area: content;
}

.estrutura .anuncios {
  grid-area: anuncios;
}

.estrutura .footer {
  grid-area: footer;
}

.header {
  background: #a27b5c;
  padding: 30px calc((100% - 1500px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 0;
}

.header h1 {
  color: #2c3639;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 30px;
}

@media (max-width: 800px) {
  .header h1 {
    margin-bottom: 20px;
  }
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}

.header ul a {
  display: inline-block;
  color: #dcd7c9;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  background: #2c3639;
  border-radius: 5px;
  transition: 0.3s;
}

.header ul a:hover {
  background: #3f4e4f;
}

.header ul li + li {
  margin-left: 20px;
}

.header [data-menu] {
  position: relative;
}

.header [data-menu] ul {
  display: none;
}

.header [data-menu].ativo ul {
  display: block;
  position: absolute;
  background: #dcd7c9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2c3639;
  margin: 0;
  top: 36px;
}

.header [data-menu].ativo ul::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid #dcd7c9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -8px;
}

.header [data-menu].ativo ul li {
  margin: 0;
}

.header [data-menu].ativo ul a {
  background: transparent;
  margin: 0;
  padding: 10px;
  color: #2c3639;
}

.header [data-menu].ativo ul a:hover {
  color: #a27b5c;
}

.sidebar {
  background: #3f4e4f;
  padding: 40px 30px;
}

@media (max-width: 800px) {
  .sidebar {
    overflow-x: scroll;
  }
  .sidebar::-webkit-scrollbar {
    width: 10px;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #a27b5c;
    border: 3px solid #3f4e4f;
  }
  .sidebar::-webkit-scrollbar-track {
    background-color: #3f4e4f;
  }
}

.sidebar ul {
  display: grid;
  justify-content: center;
}

@media (max-width: 800px) {
  .sidebar ul {
    display: flex;
    justify-content: flex-start;
  }
}

.sidebar ul li + li {
  margin-top: 30px;
}

@media (max-width: 800px) {
  .sidebar ul li + li {
    margin-top: 0;
    margin-left: 30px;
  }
}

.sidebar ul li img {
  padding: 20px;
  background: #a27b5c;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .sidebar ul li img {
    min-width: 150px;
  }
}

.sidebar ul li img:hover {
  background: #dcd7c9;
}

.content {
  background: #2c3639;
  padding: 40px 30px;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #a27b5c;
  margin-bottom: 30px;
}

.content p {
  color: #dcd7c9;
  font-size: 1rem;
  line-height: 2;
}

.anuncios {
  background: #3f4e4f;
  padding: 40px 30px;
}

.anuncios h2 {
  color: #dcd7c9;
  font-size: 1.5625rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .anuncios .images-anuncios {
    display: flex;
  }
}

@media (max-width: 500px) {
  .anuncios .images-anuncios {
    flex-direction: column;
  }
}

.anuncios .images-anuncios img {
  padding: 10px;
  background: #a27b5c;
  border-radius: 5px;
}

.anuncios .images-anuncios a {
  display: inline-block;
  max-width: 300px;
}

.anuncios .images-anuncios a + a {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .anuncios .images-anuncios a + a {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media (max-width: 500px) {
  .anuncios .images-anuncios a + a {
    margin-left: 0;
    margin-top: 30px;
  }
}

.footer {
  height: 120px;
  padding: 30px calc((100% - 1500px) / 2);
  background: #a27b5c;
  display: grid;
  align-items: flex-end;
}

.footer p {
  font-size: 1.25rem;
  color: #2c3639;
  margin-left: 30px;
}
