.header {
  background: $cor-destaque-principal;
  padding: 30px calc((100% - 1500px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 0;

  h1 {
    color: $cor-principal;
    font-size: font(48);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 30px;

    @include mq(800) {
      margin-bottom: 20px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;

    a {
      display: inline-block;
      color: $cor-font-clara;
      font-size: font(15);
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 10px 20px;
      background: $cor-principal;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background: $cor-secundaria;
      }
    }

    li + li {
      margin-left: 20px;
    }
  }

  //****** submenu *********

  [data-menu] {
    position: relative;

    ul {
      display: none;
    }

    &.ativo {
      ul {
        display: block;
        position: absolute;
        background: $cor-destaque-secundaria;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $cor-principal;
        margin: 0;
        top: 36px;

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-bottom: 10px solid $cor-destaque-secundaria;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: -8px;
        }

        li {
          margin: 0;
        }

        a {
          background: transparent;
          margin: 0;
          padding: 10px;
          color: $cor-principal;

          &:hover {
            color: $cor-destaque-principal;
          }
        }
      }
    }
  }
}
